<% if user_signed_in? %>
    <a href="/add_hate_to/<%=@p.user_id%>/<%=@p.id%>"/ ><span class = "glyphicon glyphicon-trash post-link"   aria-hidden="true"></span></a><span><%= @p.hates.count %></span>
<% else %>
    <span class = "glyphicon glyphicon-trash post-link"  aria-hidden="true"></span><span><%= @p.hates.count %></span>
<% end %>