<div class="field" style="margin-left: 20px">
      <p class = 'hoot-title title-text'> got something to hoot? </p>
        <!--<form>-->
        <!--<%= text_field_tag(:content, "", :autocomplete => :off, placeholder: "They don't think it be like it is but it do brother",class: 'form-control') %>-->
          <input type="text" id="hoot-content-box" focus="on" autocomplete="off" value="" placeholder= "They don't think it be like it is but it do brother" class= 'form-control'>
        <!--</form>-->
        <span style="float: right"><button id='hoot-button' class= "btn btn-primary">Hoot this out</button></span>
</div>
<script>
  enable_hoot_form();
</script>