<% if user_signed_in? %>
    <a href="/add_like_to/<%=@p.user_id%>/<%=@p.id%>"/ ><span class = "glyphicon glyphicon-star post-link"   aria-hidden="true"></span></a><span><%= @p.likes.count %></span>
<% else %>
    <span class = "glyphicon glyphicon-star post-link"   aria-hidden="true"></span><span><%= @p.likes.count %></span>
<% end %>