<% if @owls.any? %>
    <% for @p in @owls %>
        <div>
            <img src=<%=@p.profile_image%>  height="5" width="5" ><a href = /<%= @p.name %> ><p class = 'list-owl' p> <%= @p.name %> </p></a>
        </div>
    <%end%>
<% else%>
    <p class = 'list-owl'>  no one..... </p>
<% end %>