
<div class="panel-body">
    <p> some memes </p>
</div>
<div >
    <% 10.times do %>
        <% offset = rand(Post.count) %>
        <% @m = Post.offset(offset).first%>
        <p class="wb" > <%= @m.content  if @m%> </p>
    <% end %>
</div>