<% @peeps = User.limit(7).order('RANDOM()') %>
<div class="panel-body">
    <p> fellow hooters </p>
</div>
<% for @p in @peeps %>
    <% if @p.username %>
        <div>
            <a href = /<%= @p.username.gsub(" ","%20") %> > <%= @p.username %> </a>
        </div>
    <% end %>
<% end %>