<div class="panel panel-default end-panel">
   <div class="panel-body">
      <%= form_tag("/subhoot", method: "post", class: "") do %>
            <%= text_field_tag(:content, "",autocomplete: "off", placeholder: "ðŸ…±oðŸ…±a ðŸ…±ola", class: "form-control") %>
            <%= text_field_tag(:post_id, @hoot.id, placeholder: "ðŸ…±oðŸ…±a ðŸ…±olaï¸ï¸ï¸ï¸ï¸ï¸", :hidden => true) %>
            <%= submit_tag("hoot @ this hoot", class: "btn btn-primary") %>
      <% end %>
    </div>
</div>