<% if @posts %>
    <% for @p in @posts %>
        <%= render '/components/hoot' %>
    <% end %>
    <script  type="text/javascript">
        make_buttons_work();
    </script>
<% end %>
<div class="panel panel-default end-panel">
    <div class="panel-body">
        <center> END </center>
    </div>
 </div>