<% if !user_signed_in? %>
    <%= render '/components/not_signed_in' %>
<% else %>
    <div class = "row" >
        <div class = "col-xs-6 col-xs-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p> hoots around the world </p>
                </div>
             </div>
            <%= render '/components/list_of_owls' %>
        </div>
        <div class = "col-xs-3">
            <div class="panel panel-default">
                 <div class="panel-body">
                    <%= render '/components/meme_box' %>
                </div>
           </div>
           <div class="panel panel-default">
                <div class="panel-body">
                   <%= render '/components/peeps_box' %>
                </div>
            </div>
        </div>
    </div>
<% end %>