<div class = "col-xs-6 col-xs-offset-3">
    <p style = 'font-size: 900%'> FAQ </p>
    <p>no one has asked me anything yet.......</p>
    <p> contact me at <a href = mailto:codyjamesmcmahon@gmail.com?Subject=help>codyjamesmcmahon@gmail.com<a> </p>
</div>