<% if !user_signed_in? %>
    <script> document.location = '/' </script>
<% else %>
    <div class = "row" >
        <div class = "col-xs-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <%= render '/components/profile_box' %>
                </div>
             </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <%= render '/components/meme_box' %>
                </div>
             </div>
        </div>
        <div class = "col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p> <%= render '/components/hoot_form' %></p>
                </div>
             </div>
             <div id = timeline>
            </div>
            <script>
                render_time_line();
            </script>
            <div class="panel panel-default end-panel">
            <div class="panel-body">
                <center> END </center>
            </div>
         </div>
        </div>
        <div class = "col-xs-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href = "mailto:codyjamesmcmahon@gmail.com?Subject=WOW!!%20YOU%20ARE%20THE%20GREATEST!!!!!!"> please hire me </a>
                </div>
             </div>
             <div class="panel panel-default">
                <div class="panel-body">
                   <%= render '/components/peeps_box' %>
                </div>
            </div>
        </div>
    </div>
<% end %>
<!--meme comment xdddddddddddddd -->