<div class = "row" >
    <div class = "col-xs-6 col-xs-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="title-text"> where da hoots @ </p>
            </div>
         </div>
        <div id = timeline>
            </div>
            <script>
                render_hoot_hoots();
            </script>
            <div class="panel panel-default end-panel">
            <div class="panel-body">
                <center> END </center>
            </div>
         </div>
    </div>
    <div class = "col-xs-3">
       <div class="panel panel-default">
            <div class="panel-body">
               <%= render '/components/peeps_box' %>
            </div>
        </div>
        <div class="panel panel-default">
             <div class="panel-body">
                <%= render '/components/meme_box' %>
            </div>
       </div>
    </div>
</div>