<div class = "row" >
    <div class = "col-xs-6 col-xs-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p> where da hoots @ </p>
            </div>
         </div>
        <%= render '/components/time_line' %>
    </div>
    <div class = "col-xs-3">
       <div class="panel panel-default">
            <div class="panel-body">
               <%= render '/components/peeps_box' %>
            </div>
        </div>
        <div class="panel panel-default">
             <div class="panel-body">
                <%= render '/components/meme_box' %>
            </div>
       </div>
    </div>
</div>