<div class = "row" >
    <div class = "col-xs-12">
        <div class="jumbotron">
            <h1>give ya boi <%= @username %> a hoot hoot!</h1>
        </div>
    </div>
</div>

<div class = "row" >
    <div class = "col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p> profile </p>
            </div>
         </div>
    </div>
    <div class = "col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <p> <%= @username %>'s hoots </p>
            </div>
         </div>
        <%= render '/components/time_line' %>
   </div>
    <div class = "col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p> peeps </p>
            </div>
         </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p> memes </p>
             </div>
        </div>
    </div>
</div>
<!--meme comment xdddddddddddddd -->