<div class = "row" >
    <div class = "col-xs-6 col-xs">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>hooters found</p>
            </div>
         </div>
        <div class="panel panel-default">
            <%= render '/components/list_of_owls' %>
        </div>
    </div>
    <div class = "col-xs-6 col-xs">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>posts found</p>
            </div>
         </div>
         <%= render '/components/time_line' %>
    </div>
</div>