<div class = "row" >
    <div class = "col-xs-6 col-xs">
        <div class="panel panel-default">
            <div class="panel-body">
                <p class='title-text'>hooters found</p>
            </div>
         </div>
        <div id="hooters-holding-object" class="panel panel-default">
        </div>
        <script>render_hooters_through_regex("<%= params[:search] %>");</script>
    </div>
    <div class = "col-xs-6 col-xs">
        <div class="panel panel-default">
            <div class="panel-body">
                <p class='title-text'>posts found</p>
            </div>
         </div>
         <div id='timeline'>
         </div>
        <script>render_hoots_through_regex("<%= params[:search] %>");</script>
        <div class="panel panel-default end-panel">
            <div class="panel-body">
                <center> END </center>
            </div>
         </div>
    </div>
</div>