/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$navbar_color: rgba(180,242,255,1);
$background_color:  rgba(246,109,17,.1);
$current_post_color: rgba(0,0,100,.2);
$loop_color: rgba(0,0,255,.3);


$total: 25; 
$step: 360deg / $total;



@for $i from 1 through $total {
  .panel-color#{$i} {
      
    &:hover {
    background: adjust-hue($loop_color, $i * $step);
    }
  }

}


%post-spacing{
    margin-top: -20px;
}
%wb {
    word-wrap: break-word;
}
%no-highlight{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar{
    background-color: $navbar_color;
    .navbar-brand {
        position: absolute;
        left: 50%;
    }
}

body{
    background-color: $background_color;
}
.post-panel {
    @extend %post-spacing;
    .hoot-content-divider{
        margin-top: -4px;
        margin-left: -25px;
    }
    .hoot-name-time-divider{
        margin-top: -18px;
        margin-left: -15px;
    }
    .hoot-avatar{
        margin-top: -30px;
        margin-left: -25px;
    }
    .post-username {
        text-align: left;
        margin-left: -5px;
        font-size: 150%;
    }
    .post-words {
        text-align: left;
        margin-left: 15px;
        margin-right: 15px;
        @extend %wb;
    }
    .post-buttons {
        @extend %no-highlight;
        text-align: left;
        margin-top: -15px;
        .fun-buttons{
            margin-left: 15px;
        }
        .hate-button {
            &:hover {
                color:red;
            }
        }
        .like-button {
            &:hover {
                color:green;
            }
        }
    }
    .post-link {
        margin-left: 5px;
        margin-right: 5px;
    }
    .post-time {
       
    }
    .hoot-title{
        margin-left: -15px;
        font-size: 150%;
    }
    .subhoot_content {
        margin-left: -80px;
    }
}
.random-post{
    @extend %wb;
}
.end-panel {
    @extend %post-spacing;
}

.list-owl{
    margin-top: 5px;
    margin-left: 25px;
    @extend %wb;
}
.link-button:active {
  color:red;
}
.avatar {
    border: 1px solid black;
}
.title-text{
    text-align: center;
    font-size: 30px;
}
#timeline-list{
    
}
.post-list-item{
    
}