/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar{
    background-color: rgba(180,242,255,255);
}

body{
    background-color: rgba(246,109,17,.1);
}
.navbar-brand {
    position: absolute;
    left: 50%;
}
.post-panel {
    margin-top: -20px;
}
.post-username {
    text-align: left;
    margin-left: -5px;
    font-size: 150%;
}
.post-words {
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}
.post-buttons {
    text-align: left;
}
.post-link {
    margin-left: 5px;
    margin-right: 5px;
}
.post-time {
   
}
.hoot-title{
    margin-left: -15px;
    font-size: 150%;
}
.list-owl{
    margin-top: 5px;
    margin-left: 25px;
}
.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}
.link-button:focus {
  outline: none;
}
.link-button:active {
  color:red;
}
.avatar {
    outline: 1px;
}